@font-face {
    font-family: 'Roboto-Light';
    src: url('../font/roboto/Roboto-Light.ttf') format('truetype');
}

body {
    font-family: 'Roboto-Light';
}


.dataTable {
    border: 1px solid #ddd;
}

.dataTable .menu-container {
    width: 20px !important;
}

.dataTable tr rowmenu {
    position: relative;
    color: #224f77;
    padding: 0px;
    margin: 0px;
    display: block;
}

.dataTable tr rowmenu img {
    display: none;
    cursor: pointer;
    padding: 0px;
    margin: 0px;
}

.dataTable tr:hover rowmenu img {
    display: inline;
}


.dataTable tr rowmenu dropdown {
    position: absolute;
    top: 0px;
    left: -170px;
    width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 10;

    display: none;
}

.dataTable tr td:hover rowmenu dropdown {
    display: block;
}


.dataTable tr rowmenu dropdown item {
    padding: 2px;
    margin: 0px;
    width: 170px;

    font-family: inherit;
    font-size: 14px;
    text-align: left !important;
    text-decoration: none;
    /*Color:							#224f77;*/

    border: 1px #f4f4f4 solid;
    border-radius: 1px;
    background-color: #fafafa;

    display: block;
    box-sizing: border-box;

    cursor: pointer;
    color: #999999;
}


.dataTable tr rowmenu > dropdown > item > img {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 5px;
}

.dataTable tr rowmenu > dropdown > item > a {
    display: inline-block;
    color: red;
}

.dataTable tr rowmenu dropdown item:hover {
    background-color: #e6e6e6;
}

fieldset {
    padding: 10px 10px 10px 10px;
    margin: 0px 0px 5px 0px;
    border: 1px solid #ddd;
    border-radius: 2px;
    background-color: #fafafa;

}

fieldset > legend {
    padding: 0px 5px 0px 5px;
    margin: 0px;
    width: auto;

    font-size: inherit;

    background-color: transparent;
    border: 1px solid #ddd;
    border-radius: 2px;
    background-color: #eee;
}


[ffw-type="ArrayInput"] {
    /*border: 0px solid red;*/
    /*margin: 10px 0px 0px 0px;*/
    /*display: block;*/
    /*box-sizing: border-box;*/
}

[ffw-type="ArrayInput"] > [ffw-target="ArrayInput.MenuLine"] {
    position: relative;
    height: 0px;
    padding: 0px;
    display: block;
}

[ffw-type="ArrayInput"] > [ffw-target="ArrayInput.MenuLine"] > rowmenu {
    position: absolute;
    right: 0px;
    top: 0px;


    color: #224f77;
    padding: 0px;
    margin: 0px;
    display: block;

}

[ffw-type="ArrayInput"] > [ffw-target="ArrayInput.MenuLine"] > rowmenu > img {
    display: none;
    position: relative;
    top: -17px;
    cursor: pointer;
    padding: 0px;
    margin: 0px;
    width: 18px;
    border: 1px blue solid;

}

[ffw-type="ArrayInput"] > [ffw-target="ArrayInput.MenuLine"]:not([ffw-isinitial="false"]) > rowmenu > img {
    display: inline;
}


[ffw-type="ArrayInput"]:hover > [ffw-target="ArrayInput.MenuLine"] > rowmenu > img {
    display: inline;
}


[ffw-type="ArrayInput"] > [ffw-target="ArrayInput.MenuLine"] > rowmenu > dropdown {
    position: absolute;
    top: -1px;
    left: -155px;
    width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 10;

    display: none;
}

[ffw-type="ArrayInput"] > [ffw-target="ArrayInput.MenuLine"] > rowmenu:hover > dropdown {
    display: block;
}


[ffw-type="ArrayInput"] > [ffw-target="ArrayInput.MenuLine"] > rowmenu > dropdown > item {
    padding: 2px;
    margin: 0px;
    width: 170px;

    font-family: inherit;
    font-size: 14px;
    text-align: left !important;
    text-decoration: none;

    border: 1px #f4f4f4 solid;
    border-radius: 1px;
    background-color: #fafafa;

    display: block;
    box-sizing: border-box;

    cursor: pointer;
    color: #999999;
}


[ffw-type="ArrayInput"] > [ffw-target="ArrayInput.MenuLine"] > rowmenu > dropdown > item > img {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 5px 10px 5px 5px;
}

[ffw-type="ArrayInput"] > [ffw-target="ArrayInput.MenuLine"] > rowmenu > dropdown > item > label {
    font-family: inherit;
    font-size: 14px;
    text-align: left !important;
    text-decoration: none;
    color: #999999;
    font-weight: 400;
    line-height: 1.5;

}

[ffw-type="ArrayInput"] > [ffw-target="ArrayInput.MenuLine"] > rowmenu > dropdown > item:hover {
    background-color: #e6e6e6;
}

[ffw-type="ArrayInput"] > [ffw-target="ArrayInput.Row"] {
    border-top: 1px dotted #a3b2c2;
}

[ffw-type="ArrayInput"] > [ffw-target="ArrayInput.Row"]:hover {
    background-color: #d5dde4;
}


[ffw-type="MultiCheckComponent"] {
    padding-left: 5px;
    background-color: transparent;
    border: 1px #ced4da solid;
    border-radius: 2px;
    overflow-y: hidden;
}

[ffw-type="MultiCheckComponent"]::-webkit-scrollbar {
    width: 10px;
}

[ffw-type="MultiCheckComponent"]::-webkit-scrollbar-track {
    background: #f1f1f1;
}

[ffw-type="MultiCheckComponent"]::-webkit-scrollbar-thumb {
    background: #888;
}

[ffw-type="MultiCheckComponent"]::-webkit-scrollbar-thumb:hover {
    background: #555;
}


[ffw-type="MultiCheckComponent"]:hover {
    overflow-y: auto;
}

[ffw-type="MultiCheckComponent"] label {

}

.ui-autocomplete {
    position: absolute;
    padding: 0px;
    list-style: none;
    /*max-width: 100%;*/
    background-color: #fafafa;
    border: 1px solid #ced4da;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    z-index: 10000;
}

.ui-autocomplete .ui-menu-item-wrapper {
    text-align: left;
    padding-left: 10px;
    color: #4d4d4d;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
}

.ui-autocomplete > li .ui-state-active {
    border: none !important;
    background-color: #ddd;
    color: #4d4d4d;
}

/*
.ui-autocomplete-input {
    margin-bottom: 0px;
    background-color: #fff;
}

.ui-autocomplete-input:focus {
    margin-bottom: 20px;
    background-color: #f0f075;
    border: 1px #4d9900 solid;
}

*/

.ui-menu {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.ui-menu-item:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

/*
.ui-menu-item.odd {
    background-color: #fff7e6;
}

.ui-menu-item.even {
    background-color: #ffffff;
}
*/
.ui-menu-item-wrapper {
    box-sizing: border-box;
    padding: 4px;
    margin: 0px;
    font-size: 0.8em;
    border-top: 1px solid #c5c5c5;
}

/*display: inline-block;  white-space: nowrap;*/

.ui-menu-item-wrapper .list {
    padding: 4px;
}

.ui-menu-item-wrapper .list .list-name {
    width: 180px;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
}

.ui-menu-item-wrapper .list .list-date {
    width: 90px;
    display: inline-block;
    white-space: nowrap;
}

.ui-menu-item-wrapper .list .list-mothername {
    width: 150px;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
}

.ui-menu-item-wrapper .list .list-phone {
    width: 125px;
    display: inline-block;
    white-space: nowrap;
}

.ui-menu-item-wrapper .list .list-email {
    width: auto;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
}

/*
.ui-menu-item:hover {
    background-color: #f7e8ba;
}
*/
.ui-menu-item.noresult {
    color: red;
}

.ui-menu-item .ui-state-active {
    background-color: #007BFF !important;
}


/***********************************************************************************************************************/
/*****************************************************[BUTTON MENU]*****************************************************/
/***********************************************************************************************************************/


buttonmenu {
    position: relative;
    color: #224f77;
    padding: 0px;
    margin: 0px;
    display: inline;
}

buttonmenu[ffw-status="inactive"] {
}


buttonmenu dropdown {
    position: absolute;
    top: 25px;
    left: 0px;
    width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 10;
    display: none;
}

buttonmenu:hover dropdown {
    display: block;
}

buttonmenu[ffw-status="inactive"]:hover > dropdown {
    display: none;
}


/*buttonmenu  dropdown {*/
/*    display: none;*/
/*}*/

buttonmenu dropdown item {
    padding: 2px;
    margin: 0px;
    width: 170px;

    font-family: inherit;
    font-size: 14px;
    text-align: left !important;
    text-decoration: none;
    /*Color:							#224f77;*/

    border: 1px #f4f4f4 solid;
    border-radius: 1px;
    background-color: #fafafa;

    display: block;
    box-sizing: border-box;

    cursor: pointer;
    color: #999999;
}


buttonmenu > dropdown > item > img {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 5px;
}

buttonmenu > dropdown > item > a {
    display: inline-block;
    color: red;
}

buttonmenu dropdown item:hover {
    background-color: #e6e6e6;
}


/*.modal-backdrop:nth-of-type(1) {*/
/*    z-index: 1049 !important;*/
/*}*/

/*.modal:nth-last-of-type(2) {*/
/*    z-index: 1052 !important;*/

/*}*/


/*div[class^="modal-backdrop"] {*/
/*    border:1px red solid;*/
/*}*/
/*layer:1th*/
/*div[class^="modal-backdrop"]:nth-last-of-type(6) {*/
/*    z-index: 1049 !important;*/
/*}*/
/*.modal:nth-last-of-type(6) {*/
/*    z-index: 1050 !important;*/
/*}*/

/*!*layer:2th*!*/
/*div[class^="modal-backdrop"]:nth-last-of-type(5) {*/
/*    z-index: 1051 !important;*/
/*}*/
/*.modal:nth-last-of-type(5) {*/
/*    z-index: 1052 !important;*/
/*}*/
/*!*layer:3th*!*/
/*div[class^="modal-backdrop"]:nth-last-of-type(4) {*/
/*    z-index: 1053 !important;*/
/*}*/
/*.modal:nth-last-of-type(4) {*/
/*    z-index: 1054 !important;*/
/*}*/

/*!*layer:4th*!*/
/*div[class^="modal-backdrop"]:nth-last-of-type(3) {*/
/*    z-index: 1055 !important;*/
/*}*/
/*.modal:nth-last-of-type(3) {*/
/*    z-index: 1056 !important;*/
/*}*/

/*!*layer:5th*!*/
/*div[class^="modal-backdrop"]:nth-last-of-type(2) {*/
/*    z-index: 1057 !important;*/
/*}*/
/*.modal:nth-last-of-type(2) {*/
/*    z-index: 1058 !important;*/
/*}*/

/*!*layer:6th*!*/
/*div[class^="modal-backdrop"]:nth-last-of-type(1) {*/
/*    z-index: 1059 !important;*/
/*}*/
/*.modal:nth-last-of-type(1) {*/
/*    z-index: 1060 !important;*/
/*}*/

.modal .modal-content {
}

[ffw-type="Dialog"] {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

[ffw-type="Dialog"] .modal-content {
    border-radius: 5px;
    padding: 3px;
}

[ffw-type="Dialog"] .modal-header {
    position: relative;
    padding: 2px 0px 2px 10px;
    margin-bottom: 5px;
    background-color: #1a8cff;
    display: block;

    border: none;
    border-radius: 0px;
    box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.2);

    border-radius: 5px;
    overflow: hidden;
}

[ffw-type="Dialog"] .modal-title {
    color: #ffffff;
    display: inline;
}


[ffw-type="Dialog"] .modal-body {
    padding: 5px 5px 5px 5px;
}

[ffw-type="Dialog"] .modal-footer {
    padding: 0px 5px 5px 5px;
    border: none;
}

[ffw-type="Dialog"] [ffw-target="Dialog.Header.CloseButton"] {
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;

    margin: 0px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    background-color: #0073e6;
    color: #ffffff;

    display: inline;


}

[ffw-type="Dialog"] [ffw-target="Dialog.Header.CloseButton"]:hover {
    background-color: red;
}


.btn-basic {
    padding: 3px 5px 3px 5px;
    border-radius: 3px;
    background-color: #1a8cff;;
    color: #ffffff;
}

.btn-basic:hover {
    background-color: #0073e6;
}

.card {
    border-radius: 3px;
}

.card .card-title {
    display: inline-block;
}

.card .card-tools {
    float: right;
}

.ffw-bg-blue {
    background-color: #1a8cff;
}

.navbar {
    padding:0px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.nav-link {
    padding:15px
}
.nav-link:hover {
    background-color: #0073e6;
}

.btn-success {
    border-radius: 3px;
}

.btn-primary {
    border-radius: 3px;
    background-color: #1a8cff;
    color: #ffffff;
}

.btn-primary:hover {
    background-color: #0073e6;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    border-radius: 3px;
    padding: 2px;
}


/*input:-webkit-autofill {*/
/*    !* Add your styling rules here *!*/
/*    background-color: #f4f4f4; !* Background color *!*/
/*    border: 1px solid #ccc; !* Border color *!*/
/*    color: #333; !* Text color *!*/
/*}*/

/*!* Style for autofill placeholder *!*/
/*input:-webkit-autofill::placeholder {*/
/*    color: #999; !* Placeholder color *!*/
/*}*/

/*!* Style for autofill selection *!*/
/*input:-webkit-autofill-selection {*/
/*    background-color: #accef7; !* Selected background color *!*/
/*}*/