.Continent {
    fill: none;
    stroke: #1a75ff;
    stroke-width: 20;
}

.Country {
    fill: grey;
    stroke: black;
    stroke-width: 2;
}

.Country:hover {
    stroke: black;
    stroke-width: 5;
}


.Player1 {
    fill: indigo;
    color:indigo;
}

.Player2 {
    fill: orange;
    color:orange;
}

.Player3 {
    fill: green;
    color:green;
}

.Player4 {
    fill: red;
    color:red;
}


#Box {
    display: block;
    padding: 10px;
    margin: 10px;
    width: 200px;
    heght: 100px;
    background-color: red;
    border: 1px red solid;
}


#Box > header > h1 {
    font-size: 26px;
}